body {
  font-family: 'Courier New', monospace;
  font-size: 25px;
  background-color: rgb(204, 102, 0);
}

#controls{text-align: center;}

.buttonStart {
    position: absolute;
    top:50%;
    background-color:#0a0a23;
    color: #fff;
}

#header{text-align: center;}



img.mugShot {
    display: block;
    margin-left: auto;
    margin-right: auto }

img.snapShot {
    float: left;
    width: 600px;
    height: 500px;}

img.snapShot1 {
    float: right;
    width: 600px;
    height: 500px;}
