body {
  font-family: 'Courier New', monospace;
  font-size: 25px;
  background-color: rgb(255, 0, 0);
}

#controls{text-align: center;}

#header{text-align: center;}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }